* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-container h1 {
    font-size: 40px;
    align-items: flex-start;
}


.form {
    background-color: white;
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.form-attribute {
    margin: 8%;
}


.form-attribute input[type="text"], input[type="password"] {
    display: block;
    width: 90%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 15px;
}


.form button {
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: rgb(26, 25, 25);
    color: white;
    width: 100%;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.5s;
}

.form button:hover {
    opacity: 0.9;
    transform: scale(0.9);
    box-shadow: 3px 5px rgb(197, 197, 197);
}

.form p {
    font-size: 18px;
    text-align: center;
    padding-top: 10%;
}
