html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
header{
    background-color: #50341f;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.4fr repeat(2, 1fr) 0.3fr 1.2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vw;
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 4; 
    background-color: #50341f;
}

.div2, .div3, .div4 {
    background-image: url(./assets/brown-stone-modern-pattern-brick.jpg);
    background-position: left;
    background-size: cover;
}

.div2 { 
    grid-area: 2 / 1 / 4 / 2; 
    position: relative;
    
}

.div3 { 
    grid-area: 2 / 2 / 4 / 3; 
    position: relative;
}

.div4 { 
    grid-area: 2 / 3 / 4 / 4;
    position: relative;
}

.arch {
    background-image: url(./assets/archUpdated.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.div5 { 
    grid-area: 4 / 1 / 5 / 4; 
    background-color: #f2dfb7;
}

.div6 { 
    grid-area: 5 / 1 / 6 / 4; 
    background-image: url(./assets/barfronttexture.png);
}

.barstools {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/barstools_correctheight.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

nav ul li button {
    margin: 1em 1em;
    padding: 10px 25px;
    font-size: 15px;
}

/* Pop up login */


.form {
    z-index: 1;
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 350px;
    height: 500px;
    font-size: 16px;
    opacity: 0;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
    pointer-events: none;
}

.form.active {
    top: 50%;
    opacity: 1;
    transition: top 0ms ease-in-out00ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
    pointer-events: auto;
    z-index: 1;
}

.form button {
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: rgb(26, 25, 25);
    color: white;
    width: 100%;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.5s;
}

.form button:hover {
    opacity: 0.9;
    transform: scale(0.9);
    box-shadow: 3px 5px rgb(197, 197, 197);
}

.popup {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.close-button {
    position: absolute;
    top: -85px;
    right: 10px;
    color: black;
    z-index: 2;
    border-radius: 15px;
    line-height: 15px;
    cursor: pointer;
    font-size: 30px;
}

.form-attribute {
    padding: 10px;
}

.form-attribute input[type="text"], input[type="password"] {
    display: block;
    width: 90%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 15px;
}

/* Register form */

.register-form {
    z-index: 1;
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 350px;
    height: 500px;
    font-size: 16px;
    opacity: 0;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
    pointer-events: none;
}

.register-form.active {
    top: 50%;
    opacity: 1;
    transition: top 0ms ease-in-out00ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
    pointer-events: auto;
    z-index: 1;
}

.register-form button {
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: rgb(26, 25, 25);
    color: white;
    width: 100%;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.5s;
}

.register-form button:hover {
    opacity: 0.9;
    transform: scale(0.9);
    box-shadow: 3px 5px rgb(197, 197, 197);
}
